name: simple CI python Application

on:
  push:

jobs:
  dev:
    runs-on: ubuntu-latest
   steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          
      - name: run code
        run: python app.py
